.bg-img {
    /* The image used */
    background-image: url("../images/desert.jpg");
    max-width:1440px;
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }
  
  /* Position the navbar container inside the image */
  .container {
    width: auto;
  }
  
  /* The navbar */
  .topnav {
    overflow: hidden;
    background-color:none;
    padding-top: 20px;
  }
  
  /* Navbar links */
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }