/* .grip2 option:before{
	position: absolute;
    top: 9px;
    right: 4px;
    content: "";
    width: 19px;
    height: 18px;
    background: url(../../images/expandArrow.png) no-repeat;
}
.grip2{
	position: relative;
} */

.select-area {
	height: 45vh;
	overflow-y: scroll;
}

.page-title {
	font-size: 1.5rem;
}
.filter-label {
	font-size: 18px;
	margin-bottom: 0;
	color: rgba(0, 0, 0, 0.5);
}

/* select box style */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: transparent;
	background-image: url(../../images/expandArrow.png);
	background-repeat: no-repeat;
	background-position-x: 98%;
	background-position-y: 10px;
}

#category {
	border: none;
	font-size: 14px;
	width: 60px;
	color: rgba(0, 0, 0, 0.7);
}

.tag-area {
	background: #ccc;
	width: 100%;
	border: 1px solid #555555;
	background-color: white;
	border-radius: 4px;
	height: 70px;
	overflow-y: scroll;
}

.clear {
	cursor: pointer;
	font-size: 0.8rem;
	margin-bottom: 0; 
	color: rgba(0,0,0,0.3);
}

.custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	border-color: #00daf8 !important;
	background-color: #00daf8 !important;
}

.title-underline {
	width: 100%;
	margin-top: 0;
	margin-bottom: 5px;
	color: rgba(0, 0, 0, 0.1);
}

.select-box {
	position: relative;
	border: 1px solid #555555;
	border-radius: 5px;
	width: 21%;
	min-width: 150px;
}

.select-header-title {

	font-size: 1.2rem;
	margin-bottom: 0;
	font-weight: 500; 
	color: rgba(0,0,0,0.7);
}

.select-title-underline {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
	color: rgba(0,0,0,0.1);
}

.select-item-name {
	font-size: 1rem;
	margin-bottom: 0;
	font-weight: 500;
	color: rgba(0,0,0,0.7);
}

.btn-group {
	width:100%;
	height:2rem;
}

.btn-group .btn{
	font-size: 1rem;
	font-weight: 400;
	background-color: #F5F5F5;
	color: #555555;
	border: 1px solid #555555;
}

.btn-group .btn:hover, .btn.clicked{
	background-color: #00daf8;
	color:#fff;
}

.item-spacing {
	padding-bottom:2.5rem;
}

.date-range-btn {
	width: 100%;
	height: 2rem;
	border-radius: 4px;
	border: 1px solid #555555;
	font-size: 0.7rem; 
	background-color: #F5F5F5;
}

select#tags {
	border: none;
	font-size: 14px;
	width: 100%;
	border: 1px solid #555555;
	height: 2rem;
	border-radius: 4px;
	background-color: #F5F5F5;
	color: rgba(0,0,0,0.7)
}

.filter-btn {
	background-color: #02529B!important;
	color: white!important;
}