.circle-button {
	color: white;
	opacity: 100%;
	border: 2px solid #d0d0d0;
	cursor: pointer;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	box-shadow: inset 1px 1px 1px #d0d0d0, inset -1px 1px 1px #d0d0d0;
	width: 100%;
	height: 80%;
}

.non-clicked-btn {
	background-color: #27f0fd !important;
}

.clicked-btn {
	background-color: #bdfbff !important;
}

.circleBtnFont {
	font-size: 1.2rem;
	line-height: 1.2;
}

:root {
	--animation-time: 2s;
	/* --animation-degree:25deg; */
	--animation-length: -20px;
}

@keyframes move1 {
	0% {
		transform: translate(-2px, -4px);
	}
	100% {
		transform: translate(-20px, -22px);
	}
}
@-moz-keyframes move1 {
	0% {
		transform: translate(-2px, -4px);
	}
	100% {
		transform: translate(-20px, -22px);
	}
}
@-webkit-keyframes move1 {
	0% {
		transform: translate(-2px, -4px);
	}
	100% {
		transform: translate(-20px, -22px);
	}
}
@keyframes move2 {
	0% {
		transform: translate(15px, -18px);
	}
	100% {
		transform: translate(-4px, 2px);
	}
}
@-moz-keyframes move2 {
	0% {
		transform: translate(15px, -18px);
	}
	100% {
		transform: translate(-4px, 2px);
	}
}
@-webkit-keyframes move2 {
	0% {
		transform: translate(15px, -18px);
	}
	100% {
		transform: translate(-4px, 2px);
	}
}
@keyframes move3 {
	0% {
		transform: translate(-12px, -6px);
	}
	100% {
		transform: translate(7px, 6px);
	}
}
@-moz-keyframes move3 {
	0% {
		transform: translate(-12px, -6px);
	}
	100% {
		transform: translate(7px, 6px);
	}
}
@-webkit-keyframes move3 {
	0% {
		transform: translate(-12px, -6px);
	}
	100% {
		transform: translate(7px, 6px);
	}
}
@keyframes move4 {
	0% {
		transform: translate(-3px, 12px);
	}
	100% {
		transform: translate(10px, -8px);
	}
}
@-moz-keyframes move4 {
	0% {
		transform: translate(-3px, 12px);
	}
	100% {
		transform: translate(10px, -8px);
	}
}
@-webkit-keyframes move4 {
	0% {
		transform: translate(-3px, 12px);
	}
	100% {
		transform: translate(10px, -8px);
	}
}
@keyframes move5 {
	0% {
		transform: translate(-2px, 2px);
	}
	100% {
		transform: translate(17px, 15px);
	}
}
@-webkit-keyframes move5 {
	0% {
		transform: translate(-2px, 2px);
	}
	100% {
		transform: translate(17px, 15px);
	}
}
@-moz-keyframes move5 {
	0% {
		transform: translate(-2px, 2px);
	}
	100% {
		transform: translate(17px, 15px);
	}
}
@-webkit-keyframes move6 {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-10px, 18px);
	}
}
@keyframes move6 {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-10px, 18px);
	}
}
@-moz-keyframes move6 {
	0% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(-10px, 18px);
	}
}
@keyframes move7 {
	0% {
		transform: translate(4px, 0px);
	}
	100% {
		transform: translate(20px, 10px);
	}
}
@-webkit-keyframes move7 {
	0% {
		transform: translate(4px, 0px);
	}
	100% {
		transform: translate(20px, 10px);
	}
}
@-moz-keyframes move7 {
	0% {
		transform: translate(4px, 0px);
	}
	100% {
		transform: translate(20px, 10px);
	}
}

.circle-button[sel='0'] {
	animation: move1 var(--animation-time) ease alternate infinite;
}
.circle-button[sel='1'] {
	animation: move2 var(--animation-time) ease alternate infinite;
}
.circle-button[sel='2'] {
	animation: move3 var(--animation-time) ease alternate infinite;
}
.circle-button[sel='3'] {
	animation: move4 var(--animation-time) ease alternate infinite;
}
.circle-button[sel='4'] {
	animation: move5 var(--animation-time) ease alternate infinite;
}
.circle-button[sel='5'] {
	animation: move6 var(--animation-time) ease alternate infinite;
}
.circle-button[sel='6'] {
	animation: move7 var(--animation-time) ease alternate infinite;
}

/* .circle-button:active {
	background-color:#BDFBFF;
} */
